<%if (message) { %>
    <%if (messageStatus == 'success') { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><%= messageStrong%></strong>
            <%= message %>
        </div>
        <% } %>
            <%if (messageStatus == 'warning') { %>
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong><%= messageStrong%></strong>
                    <%= message %>
                </div>
                <% } %>
                    <%if (messageStatus == 'danger') { %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong><%= messageStrong%></strong>
                            <%= message %>
                        </div>
                        <% } %>
                            <% } %>